[Unit]
Description=Miner API service
After=network.target

[Service]
PIDFile=/run/pdd-bot.pid
ExecStart=/opt/alex/bin/pdd-bot --config /opt/alex/share/config.toml
ExecStop=/bin/sh -l -c "kill -15 $(ps ax | grep -v grep | grep pdd-bot | awk '{print $1}')"
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=api
KillMode=process

[Install]
WantedBy=multi-user.target
