[Unit]
Description=Personal Diabetes Diary bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/alex/share
ExecStart=/opt/alex/bin/pdd-bot --config /opt/alex/share/config.toml
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pdd-bot

[Install]
WantedBy=multi-user.target
